<h1>Entrar</h1><br />

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="field">
  	<b><%= f.label :email %></b><br />
  	<%= f.email_field :email %>
	</div>

  <div class="field">
  	<b><%= f.label "Senha" %></b><br />
  	<%= f.password_field :password %>
  </div>

  <br />
  <div>
  	<%= f.submit "Entrar", :class => "button" %> | 
  	<%= render "devise/shared/links" %>
  </div>
<% end %>


